.contact {
    /* font-family: "GabiaMaeumgyeol"; */
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    animation: fadeIn 0.3s ease-in-out;
}

.contact-banner {
    width: 100%;
    min-height: 300px;
    height: 50vh;
    max-height: 600px;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) );
}

@keyframes fadeIn {
    0% {
        opacity: 0; /* 시작 시 투명도 0 */
    }
    100% {
        opacity: 1; /* 끝나면 투명도 1 */
    }
  }


  .contact-location {
    min-height: 450px;
    height: 60vw;
    max-height: 600px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
  }
  
  .contact-location-leftside {
    width: 30%;
    margin-right: 10%;
  }
  .contact-location-rightside {
    width: 50%;
  }
  
  .contact-location-title {
    margin-top: 20%;
    margin-left: 10%;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .contact-location-title-line {
    margin-left: 10%;
    margin-top: 8px;
    height: 2px;
    background-color: #4CAF50;
    width: 40px;
  }
  
  .contact-location-detail {
    margin-top: 50px;
    color: #777;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 10%;
  }
  
  .contact-location-map {
    height: 100%;
    background-size: 800px;
    overflow: auto;
    text-align: end;
    position: relative;
  }

  .contact-location-map img {
    width: 800px;
  }



  
  .contact-inquiry {
    background-color: #ffffff;
    height: 80vh;
    min-height: 600px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding-top: 10vh;
  }

  .contact-inquiry-left{
    border: solid white 10px;
    width: 80%;
    height: 80%;
    min-height: 400px;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .contact-inquiry-left-content {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vh; /* 각 항목 간의 간격 */
  }
  
  .contact-inquiry-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .contact-inquiry-item-title {
    font-weight: bold;
    font-size: 2rem;
  }
  
  .contact-inquiry-item-detail {
    font-size: 1rem;
  }

  .contact-inquiry-right-title{
    font-size: 2.5rem;
    font-weight: bold;
  }

  .contact-inquiry-right-title-line {
    height: 4px;
    background-color: #ff6600;
    width: 3rem;
    margin-left: 120px;
  }

  @media (max-width: 768px) {
    
    .contact-location-rightside {
      width: 50%;
    }


    .contact-location-map img {
      width: 600px;
    }

    .contact-inquiry {
      background-color: #333;
      grid-template-columns: 1fr;
      padding-top: 10vh;
      position: relative;
    }
    

    .contact-inquiry-left-content {
      width: 100%;
      min-width: 300px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px; /* 각 항목 간의 간격 */
      padding: 20px;
    }

    .contact-inquiry-left{
      height: 300px;
      border: solid white 10px;
      width: 80%;
      margin-left: 10%;
      padding-left: 5%;
      margin-top: 100px;
      display: flex;
      justify-content: flex-start;
      color: white;
    }

    .contact-inquiry-item-title {
      width: 80%;
      font-weight: bold;
      font-size: 1.5rem;
    }
    
    .contact-inquiry-item-detail {
      width: 80%;
      font-size: 0.8rem;
    }

    .contact-inquiry-right-title{
      position: absolute;
      font-size: 2rem;
      font-weight: bold;
      margin-left: 10vw;
      top: 50px;
    }

    .contact-inquiry-right-title-line {
      height: 4px;
      background-color: #ff6600;
      width: 3rem;
      margin-left: 10vw;
      position: absolute;
      top: 100px;
    }
  }

  
  @media screen and (max-width: 1000px) {
    /* .contact-location {
      height: 700px;
      display: grid;
      border-bottom: 2px solid #ddd;
      border: solid 1px;
    }
    .contact-location-leftside {
      width: 1000px;
    }
    .contact-location-title {
      margin-top: 5%;
      margin-left: 10%;
      font-size: 2rem;
      font-weight: bold;
      color: #333;
    }

    .contact-location-rightside {
      width: 100%;
      height: 500px;
    }

    .contact-location-map {
      height: 100%;
    } */

  }
  
  /* .contact-inquiry {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  /* .contact-inquiry-frame {
    height: 65vh;
    width: 50%;
    border-radius: 20px;
    padding: 40px;
    background-color: #ffffff58;
    overflow: auto;
  }

  .contact-inquiry-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .contact-inquiry-email,
  .contact-inquiry-phone {
    width: 80%;
    margin-bottom: 20px;
  }

  .contact-inquiry-name,
  .contact-inquiry-company {
    width: 80%;
    margin-bottom: 20px;
    justify-self: end;
  }

  .contact-inquiry-content {
    width: 100%;
  }
  
  .contact-inquiry-label {
    font-size: 1.5rem;
    color: rgb(90, 90, 90);
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .contact-inquiry-input {
    font-family: "GabiaMaeumgyeol";
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    color: #333;
    background-color: #fff;
    margin-bottom: 20px;
  }

  .contact-inquiry-input-content {
    font-family: "GabiaMaeumgyeol";
    width: 100%;
    resize: none;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    color: #333;
    background-color: #fff;
    margin-bottom: 20px;
    overflow: auto;
  }
  
  .contact-inquiry-input:focus {
    outline: none;
    border-color: #4CAF50;
  }

  .contact-inquiry-submit {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    justify-self: end;
  }
   */
/*   
    .contact-location-leftside,
    .contact-location-rightside {
      margin: 20px 0;
    }
  
    .contact-inquiry {
      grid-template-columns: 1fr;
    } */