.main-about {
    width: 100%; /* 부모 요소의 크기 설정 */
    padding: 20px;
    height: 700px;
    padding-top: 100px;
}

.main-about-description {
    align-items: center;
    gap: 20px; /* 이미지와 텍스트 간의 간격 */
}

.about-description-high-quality {
    display: flex;
    align-items: center;
    gap: 20px; /* 이미지와 텍스트 간의 간격 */
    width: 100%;
}






.about-description-img {
  min-width: 150px;
    width: 15%;
    height: 700px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-description-img::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient( rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 100%);
    z-index: 1;
}

.about-description-img-elem-left {
    display: flex;
    justify-content: center; /* 이미지가 가로로 중앙에 정렬되도록 설정 */
    align-items: center; /* 이미지가 세로로 중앙에 정렬되도록 설정 */
    animation: slidedown 15s linear infinite;
}

.about-description-img-elem-right {
    display: flex;
    justify-content: center; /* 이미지가 가로로 중앙에 정렬되도록 설정 */
    align-items: center; /* 이미지가 세로로 중앙에 정렬되도록 설정 */
    animation: slideup 15s linear infinite;
}

@keyframes slidedown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
  }

  @keyframes slideup {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
  }

  @keyframes slideleft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
  }

  @keyframes slideright {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
  }

.about-description-img img {
    height: 700px;
    object-fit: cover; /* 이미지를 부모 요소에 맞게 자르면서 중앙에 배치 */
    object-position: center; /* 이미지가 부모 요소의 중앙에 배치되도록 설정 */
}

.about-description-elem {
    position: relative;
    width: 70%;
}

.about-description-elem-section {
    padding: 10%;
    text-align: center;
    width: 100%;
    position: absolute; /* 슬라이드를 고정시키기 위한 absolute 설정 */
    top: 50%; /* 세로 중앙 정렬 */
    left: 50%; /* 가로 중앙 정렬 */
    transform: translate(-50%, -50%); /* 정확한 중앙 위치로 맞추기 위해 translate 사용 */
}

.about-description-elem-slogan {
    width: 100%;
    opacity: 0; /* 처음에 보이지 않도록 설정 */
    transition: opacity 1s ease-in-out; /* 슬라이드 전환 애니메이션 */
}

.about-description-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-description-detail {
    padding: 1.5rem;
    font-size: 1.5rem;
    color: #555; /* 텍스트 색상 */
    line-height: 1.5;
}





  .about-slider {
    position: absolute; /* 슬라이드를 고정시키기 위한 absolute 설정 */
    transform: translate(-50%, -50%); /* 정확한 중앙 위치로 맞추기 위해 translate 사용 */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 300px; /* 세로 중앙 정렬 */
    left: 50%; /* 가로 중앙 정렬 */
    z-index: 1000;
  }
  
  .about-slider-button {
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s, transform 0.3s;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
  }
  
  .about-slider-button:hover {
    transform: scale(1.1);
  }
  
  .about-slider-button:focus {
    outline: none;
  }
  
  .about-slider-indicator {
    display: flex;
    gap: 10px;
  }
  
  .indicator-dot {
    width: 20px;
    height: 5px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #ccc;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .indicator-dot.active {
    background-color: #000000;
  }
  
  @media (max-width: 768px) {
    .about-slider-button {
      font-size: 1.5rem;
    }

    /* .about-description-img-elem-right {
      background: linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 0) 100%);
    } */

    .about-description-elem {
      left: -50%;
      top: 50%;
    }

    .about-description-elem-section {
      padding-top: 50px;
      padding-bottom: 50px;
      width: 100vw;
      height: 60vh;
      max-height: 400px;
      min-height: 350px;
      position: absolute; /* 슬라이드를 고정시키기 위한 absolute 설정 */
      left: 100%; /* 가로 중앙 정렬 */
      transform: translate(-50%, -50%); /* 정확한 중앙 위치로 맞추기 위해 translate 사용 */
      border-radius: 10px;
      background: linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 0) 100%);
    }

    .about-slider {
      transform: translate(-50%, -50%);
      gap: 20px;
      position: absolute;
      top: 100px; /* 세로 중앙 정렬 */
      left: 100%; /* 가로 중앙 정렬 */
      width: 100vw;
    }
  }
  