.main-product {
    width: 100%;
    height: 800px;
    display: flex;
    padding-top: 200px;
}

.product-title {
    margin-left: 5%;
}

.product-title-txt {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
    text-transform: uppercase;
}

.product-title-line {
    width: 5rem;
    height: 5px;
    background-color: #ff6600;
    margin-bottom: 40px;
}

.product-list {
    width: 100%;
    justify-content: space-between;
    display: flex;
    gap: 30px;
    height: 600px;
    padding-left: 5%;
    padding-right: 5%;
}

.product-item {
    width: 20%;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    justify-content: space-between;
    transition: background-size 0.5s ease;
    align-items: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}

.product-item:hover{
    background-size: 400%;
}

.product-name {
    font-size: 1rem;
    font-weight: bold;
}

.product-shortcut {
    padding: 10px;
    font-size: 1rem;
    background-color: #d6b4b4;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    position: absolute; /* 절대 위치로 설정 */
    bottom: 10px; /* 아래에서 10px 거리 */
    right: 10px; /* 오른쪽에서 10px 거리 */
    transition: background-color 0.5s, color 0.3s ease;
    border: solid 1px;
}

.product-item:hover .product-shortcut {
    background-color: #ff0000;
    color:#f8f8f8;
}

@media (max-width: 1200px) {
    .main-product {
        display: block;
    }

    .product-list {
        flex-direction: column;
        align-items: center;
        padding-left: 0%;
        padding-right: 5%;
    }

    .product-item {
        width: 80%;
        margin-bottom: 10px;
        height: 100%;
        color: white;
        background-size: 1000px;
    }

    .product-item:hover{
        background-size: 100%;
    }
}
