.main-product {
    width: 100%;
    height: 800px;
    display: flex;
    padding-top: 200px;
    position: relative;
}

.product-title {
    margin-left: 5%;
    width: 20%;
}

.product-title-txt {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
    text-transform: uppercase;
}

.product-title-line {
    width: 5rem;
    height: 5px;
    background-color: #ff6600;
    margin-bottom: 40px;
}

/* .product-list {
    width: 100%;
    justify-content: space-between;
    display: flex;
    gap: 30px;
    height: 600px;
    padding-left: 5%;
    padding-right: 5%;
} */
 .product-list {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    color: white;
 }

.product-item {
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px;
    cursor: pointer;
    justify-content: space-between;
    transition: background-size 0.5s ease;
    align-items: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .product-item:hover{
    background-size: 650px;
} */

.product-name {
    font-size: 1rem;
    font-weight: bold;
}

.product-shortcut {
    width: 20%;
    padding: 10px;
    font-size: 1rem;
    background-color: #d6b4b4;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    position: absolute; /* 절대 위치로 설정 */
    bottom: 5%; /* 아래에서 10px 거리 */
    right: 10%; /* 오른쪽에서 10px 거리 */
    transition: background-color 0.5s, color 0.3s ease;
    border: solid 1px;
}

.product-item:hover .product-shortcut {
    background-color: #ff0000;
    color:#f8f8f8;
}

@media (max-width: 1200px) {
    .product-title{
        position: absolute;
        z-index: 1000;
        transform: translate(-50%, -50%);
        top: 60%;
        left: 50%;
        width: 15rem;
        height: 15rem;
        background-color: white;
        text-align: center;
        border-radius: 50%;
        margin: 0 auto;
    }
    
    .product-title-txt {
        position: absolute;
        font-size: 2rem;
        text-transform: uppercase;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    .product-title-line{
        display: none;
    }

    .product-list{
        width: 100%;
        margin-left: 0%;
        color: white;
    }

    .product-shortcut.align-left {
        left: 10%;
    }
}
