.App {
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.nav-bar {
  text-align: center;
  display: grid;
  grid-template-columns: 50% 10% 40%;
  align-items: center;
  padding: 10px;
}

.nav-bar-web {
  padding: 1rem;
  display: grid;
  grid-template-columns: 33% 33% 34%;
  align-items: center;
}

.nav-bar-mobile {
  display: none;
}

.nav-bar img {
  height: 60px; /* 로고 크기 조정 */
}

.nav-bar-web div {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: transform 0.3s ease;
}

.nav-bar-web div:hover {
  transform: scale(1.1);
}


/* 반응형 디자인을 위한 미디어 쿼리 */
/* @media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-bar a {
    margin-top: 0.5rem;
  }
} */

@media (max-width: 768px) {
  .nav-bar {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 30% 20%;
    align-items: center;
    padding: 10px;
  }

  .nav-bar-web {
    display: none;
  }

  .nav-bar-mobile{
    display: block;
  }

  .container-fluid{
    display: block;
    width: 150%;
  }

  .nav-item{
    font-weight: bold;
    width: 100%;
  }

}