@font-face {
    font-family: "GabiaMaeumgyeol";
    font-weight: normal;
    src: url("../fonts/GabiaMaeumgyeol.ttf") format("truetype");
  }

.products {
    font-family: "GabiaMaeumgyeol";
    width: 100%;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0; /* 시작 시 투명도 0 */
    }
    100% {
        opacity: 1; /* 끝나면 투명도 1 */
    }
  }

.products-banner {
    width: 100%;
    height: 500px;
    background-color: #2c3e50;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px;
    border-bottom: #555 3px solid;
}

.products-content {
    width: 100%;
    display: flex;
    height: 800px;
}

.products-leftmenu {
    margin-left: 3%;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.products-menu {
    height: 100px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-size 0.3s ease, width 1s ease, height 1s ease;
    border-radius: 20px;
    margin-bottom: 30px;
    background-size: 120%;
    border: #c9c9c9 1px solid;
    overflow: hidden;
    filter: brightness(0.4);
}

.products-menu:hover {
    width: 110%;
}

.products-menu.selected {
    width: 110%;
    height: 120px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 30px;
    background-size: 120%;
    border: #c9c9c9 1px solid;
    overflow: hidden;
    filter: brightness(1);
}

@keyframes scaleUp{
    0% {
        width: 100%;
    }
    100% {
        width: 110%;
    }
}

.products-leftmenu-product {
    padding: 10px;
    background-color: #fff;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #ffffff 20%, #ffffff00 50%);
}







.products-products {
    margin-left: 5%;
    width: 65%;
    gap: 20px;
    padding: 20px;
    /* border: solid 1px; */
}

.products-product {
    position: absolute;
}

.products-product-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.products-product-title-line {
    height: 4px;
    background-color: #ff6600;
    width: 5rem;
    margin-bottom: 40px;
}

/* .products-product-detail {
    font-size: 1.2rem;
    color: #555;
    height: 600px;
    object-fit: fill;
}

.products-product-detail img{
    width: 1000px;
} */

.product-table {
    width: 65vw;
    /* border: 1px solid #ccc; */
}

.product-row {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.product-header {
    background-color: #f5f5f5;
    font-weight: bold;
}

.product-cell {
    /* flex: 1; */
    padding: 5px 10px;
    text-align: center;
    font-size: 0.8rem;
}

.product-cell.itemcode {
    /* flex: 2; */
    width: 20%;
}
.product-cell.description {
    /* flex: 2; */
    width: 50%;
}
.product-cell.width,
.product-cell.weight {
    /* flex: 0.5; */
    width: 15%;
}


@media (max-width: 768px) {
    .products-content {
        width: 100%;
        height: 800px;
        display: block;
    }
    
    .products-leftmenu {
        width: 100%;
        padding: 20px;
        flex-direction: row;
        height: 100px;
        gap: 20px;
    }
    
    .products-menu:hover {
        width: 30%;
    }

    .products-menu {
        width: 15%;
        min-width: 80px;
        height: 100px;
        font-size: 1.8vw;
        cursor: pointer;
        transition: background-size 0.3s ease, width 1s ease, height 1s ease;
        border-radius: 20px;
        margin-bottom: 30px;
        background-size: 250%;
        border: #c9c9c9 1px solid;
        overflow: hidden;
        filter: brightness(0.4);
    }

    .products-menu.selected {
        width: 30%;
        height: 100px;
        font-size: 1.5vw;
        cursor: pointer;
        border-radius: 20px;
        margin-bottom: 30px;
        background-size: 150%;
        border: #c9c9c9 1px solid;
        overflow: hidden;
        filter: brightness(1);
    }

    .products-products {
        margin-left: 5%;
        width: 50%;
        gap: 20px;
        padding: 20px;
    }

    /* .products-product-detail {
        font-size: 1.2rem;
        color: #555;
        width: 900px;
    }

    .products-product-detail img{
        width: 800px;
    } */
    .product-table {
        width: 85vw;
        /* border: 1px solid #ccc; */
    }
    .product-cell {
        /* flex: 1; */
        padding: 5px 10px;
        text-align: center;
        font-size: 1vw;
    }
}
